:root {
  --white: white;
  --black: black;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.container {
  max-width: 800px;
}

.div-block {
  border-bottom: 5px solid #000;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  display: flex;
}

.textmenu {
  color: #000;
  font-family: Sofiapro, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  display: block;
}

.navbar {
  z-index: 80;
  background-color: #f6f4f1;
  justify-content: center;
  width: 100%;
  display: flex;
  position: fixed;
  inset: 0% auto auto 0%;
}

.heading {
  color: #000;
  margin-top: 0;
  padding-top: 125px;
  font-family: Sofiapro, sans-serif;
  font-size: 40px;
  line-height: 50px;
}

.paragraph {
  color: #000;
  font-family: Graphik, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

.fotoduo {
  margin-top: 20px;
}

.image {
  border: 5px solid #000;
}

.heading-2 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 10px 10px 20px;
  font-family: Graphik, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

.videocontainer {
  background-color: #edebe7;
  margin-top: 0;
  margin-bottom: 45px;
}

.footer {
  border-top: 5px solid #000;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  display: flex;
}

.link-2, .link-3 {
  color: #000;
  font-family: Sofiapro, sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.schema {
  justify-content: center;
  margin-top: 0;
  margin-bottom: 20px;
  display: flex;
}

.image-2 {
  width: 75%;
}

.hamb1 {
  display: none;
}

.grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-bottom: 5px solid #000;
  border-left: 5px solid #000;
  border-right: 5px solid #000;
  grid-template-rows: auto;
  grid-template-columns: 1fr minmax(100px, 100px);
  min-height: 100px;
}

.grid-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-left: 5px solid #000;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}

.text-block-6 {
  color: #000;
  text-align: center;
  font-family: Graphik, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

.div-block-16 {
  border-top: 3px solid #000;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-17 {
  border-bottom: 2px solid #000;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-18 {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.videodescription {
  border-bottom: 5px solid #000;
  border-left: 5px solid #000;
  border-right: 5px solid #000;
  padding: 15px 20px 5px;
}

.grid-3 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-bottom: 5px solid #000;
  border-left: 5px solid #000;
  border-right: 5px solid #000;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  height: 50px;
}

.link-block {
  border-left: 0 solid #000;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.text-block-8 {
  color: #000;
  font-family: Graphik, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

.div-block-20 {
  border-right: 2px solid #000;
  justify-content: center;
  align-items: center;
  display: flex;
}

.videotop {
  cursor: pointer;
}

.videodown {
  overflow: hidden;
}

.navmenu, .morevideos {
  display: none;
}

.link-block-3 {
  flex: 1;
  text-decoration: none;
}

.idnav {
  display: none;
}

.contacthead {
  color: #000;
  margin-top: 180px;
  padding-top: 125px;
  font-family: Sofiapro, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

.div-block-26 {
  width: 30px;
  height: 18px;
}

.image-4 {
  width: 100%;
}

.hamb2 {
  display: none;
}

.gridvideos {
  height: 100vh;
  display: flex;
  overflow: scroll;
}

.gridpre {
  justify-content: flex-end;
  height: 100vh;
  display: flex;
  overflow: scroll;
}

.gridpost {
  display: none;
}

.grid-4 {
  grid-column-gap: 60px;
  grid-row-gap: 0px;
}

.image-5 {
  display: none;
}

.paragraphend {
  color: #000;
  padding-bottom: 320px;
  font-family: Sofiapro, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.link-block-4 {
  text-decoration: none;
}

.text-block-11 {
  color: #000;
  font-family: Graphik, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}

.div-block-27 {
  width: 100vw;
  display: none;
}

.wrapper {
  background-color: #f6f4f1;
  flex-flow: column;
  justify-content: center;
  display: flex;
}

.schema2 {
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
}

.footermobile {
  border-top: 5px solid #000;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  display: none;
}

.navbarlimiter {
  width: 100%;
  max-width: 900px;
}

.div-block-29, .div-block-30 {
  max-width: 370px;
}

.linkitaeng {
  text-decoration: none;
}

.videocontainer4 {
  margin-top: 20px;
  margin-bottom: 25px;
}

.left-arrow, .right-arrow {
  display: none;
}

.slide {
  background-image: url('../images/2.jpg');
  background-position: 0 0;
  background-size: cover;
}

.slide-2 {
  background-image: url('../images/1b.jpg');
  background-position: 0 0;
  background-size: cover;
}

.slider {
  z-index: 20;
  border: 5px solid #000;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  inset: 0% 0% auto;
}

.galleria {
  border: 5px solid #000;
  width: 100%;
  margin-bottom: 40px;
  padding-top: 100%;
  position: relative;
}

.slide-3 {
  background-image: url('../images/1.jpg');
  background-position: 0 0;
  background-size: cover;
}

.background-video {
  width: 256px;
  height: 40px;
  margin-bottom: 15px;
  display: none;
}

.link-4 {
  color: #000;
  text-decoration: underline;
}

.link-5 {
  color: #000;
}

.textmenurullino {
  color: #000;
  font-family: Sofiapro, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  display: none;
}

.footer4 {
  border-top: 5px solid #000;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  display: flex;
}

.about {
  max-width: 370px;
}

.aboutheading {
  color: #000;
  margin-top: 0;
  padding-top: 125px;
  font-family: Sofiapro, sans-serif;
  font-size: 40px;
  line-height: 50px;
}

.link-6 {
  color: #000;
  font-family: Sofiapro, sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  text-decoration: none;
}

.link-6.w--current {
  color: #000;
  font-family: Sofiapro, sans-serif;
  font-size: 50px;
  line-height: 60px;
  text-decoration: none;
}

.fotoabout {
  margin-top: 20px;
}

.ivanrulyovabout {
  justify-content: flex-end;
  height: 100vh;
  display: none;
  overflow: scroll;
}

.div-block-32 {
  flex-direction: column;
  max-width: 370px;
  height: 100%;
  padding-top: 120px;
  display: flex;
}

.aboutheading2 {
  color: #000;
  margin-top: 0;
  padding-top: 20px;
  font-family: Sofiapro, sans-serif;
  font-size: 40px;
  line-height: 50px;
}

.div-block-33 {
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
  padding-top: 20px;
  display: flex;
}

.edoardobellinoabout {
  justify-content: flex-end;
  height: 100vh;
  display: none;
  overflow: scroll;
}

.textmobile {
  color: #000;
  font-family: Sofiapro, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  display: none;
}

.paragraphinizio {
  color: #000;
  font-family: Sofiapro, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.slide-4 {
  background-image: url('../images/DSC07920.jpg');
  background-position: 0 0;
  background-size: cover;
}

.slide-5 {
  background-image: url('../images/3.jpg');
  background-position: 0 0;
  background-size: cover;
}

.slide-6 {
  background-image: url('../images/2-2.jpg');
  background-position: 0 0;
  background-size: cover;
}

.slider-2 {
  z-index: 20;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0% 0% auto;
}

.slide-7 {
  background-image: url('../images/0.jpg');
  background-position: 0 0;
  background-size: cover;
}

.slide-8 {
  background-image: url('../images/IMG_1211-min-2-2.webp');
  background-position: 0 0;
  background-size: cover;
}

.slide-9 {
  background-image: url('../images/DSC07920.jpg');
  background-position: 0 0;
  background-size: cover;
}

.slide-10 {
  background-image: url('../images/3.jpg');
  background-position: 0 0;
  background-size: cover;
}

.left-arrow-2, .right-arrow-2 {
  display: none;
}

.logoita {
  flex: 1;
  text-decoration: none;
}

.heading-3 {
  color: #000;
  margin-top: 10px;
  font-family: Graphik, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}

.div-block-34 {
  padding-bottom: 30px;
}

.image-2no {
  width: 75%;
  display: none;
}

.image-2-copy {
  width: 75%;
}

.schema-copy {
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
}

.footerwork {
  border-top: 5px solid #000;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  display: flex;
}

.schemano {
  justify-content: center;
  margin-top: 0;
  margin-bottom: 20px;
  display: flex;
}

.imagesquare {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: 50% 0%;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
  margin-left: 20px;
}

.imagerectangle {
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border: 1px solid #000;
  border-radius: 10px;
  width: 100px;
  height: 150px;
  margin-bottom: 0;
  margin-left: 20px;
  overflow: hidden;
}

.divbutton {
  padding-top: 20px;
  display: block;
}

.imageinstagram {
  border-radius: 10px;
  width: 100%;
}

.elementinfo {
  color: #000;
  flex-direction: column;
  text-decoration: none;
  display: flex;
}

.contenitore {
  grid-row-gap: 30px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 900px;
  padding-left: 0;
  padding-right: 0;
  text-decoration: none;
  display: flex;
}

.containercontent {
  width: 100%;
  max-width: 900px;
  padding-left: 0;
  padding-right: 0;
}

.tabs-content {
  flex: 1;
  position: static;
}

.tabtesto-2 {
  background-color: #fff;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  display: flex;
}

.text-12 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: none;
}

.accordioncategory {
  overflow: hidden;
}

.articles {
  grid-row-gap: 20px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.elementinfotext {
  flex-direction: column;
  flex: 1;
  display: flex;
}

.titolominore-3 {
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 20px;
  text-decoration: none;
  display: flex;
}

.tabs {
  flex-direction: row;
  display: flex;
}

.dropdownelementlist {
  background-color: #0000;
  padding-left: 14px;
  padding-right: 14px;
  display: none;
  position: static;
}

.subsectionlist {
  flex-direction: column;
  flex: 1;
  max-width: 500px;
  display: flex;
  overflow: hidden;
}

.tabs-menu {
  flex-direction: column;
  display: flex;
}

.ricercatab {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: none;
}

.subsectioncontainer {
  justify-content: flex-end;
  padding-left: 40px;
  display: flex;
}

.rectanglecolor-2 {
  background-color: #8fc8b1;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  display: flex;
}

.titolo {
  grid-row-gap: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.tabtesto {
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  display: flex;
}

.imagearticle {
  aspect-ratio: 2.39;
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 15px;
}

.accordioncategorytitle {
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  overflow: hidden;
}

.elementauthor {
  padding-top: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.tabnormale {
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.titolominoretesto {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  text-decoration: none;
}

.text-11 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.accordioncategorycontent {
  flex-direction: column;
  padding-bottom: 20px;
  display: flex;
}

.accordionsectioncross {
  width: 30px;
  height: 30px;
}

.tabbutton {
  color: #0006;
  background-color: #ddd0;
  margin-bottom: 15px;
  padding: 2px 5px;
  font-family: Graphik, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 35px;
  transition: color .3s, background-color .3s;
}

.tabbutton:hover {
  color: #000;
  font-weight: 700;
}

.tabbutton.w--current {
  color: #000;
  background-color: #fff0;
  font-family: Graphik, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 35px;
  transition: border-width .3s, color .3s, background-color .3s;
}

.elemento {
  grid-column-gap: 14px;
  background-color: #f5f5f5;
  border-radius: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 14px;
  text-decoration: none;
  display: flex;
}

.elementinfohorizontal {
  color: #000;
  flex-direction: row;
  text-decoration: none;
  display: flex;
}

.divbuttonalign {
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
}

.elementtitle {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
}

.dropdownelement {
  z-index: 10;
  background-color: #f5f5f5;
  border-radius: 20px;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 14px;
  transition: background-color .3s;
  overflow: hidden;
}

.dropdownelement:hover {
  background-color: #e6e6e6;
}

.lineblack {
  background-color: #000;
  height: 5px;
}

.rectangle {
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-3 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 151.004px;
  text-decoration: none;
  display: flex;
}

.testorettangolobianco {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.laricerca {
  background-color: #f6f4f1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-bottom: 0;
  text-decoration: none;
  display: flex;
}

.elementstory {
  color: #000;
  background-color: #edebe7;
  border-radius: 20px;
  margin-top: 20px;
  padding: 14px;
  text-decoration: none;
  transition: background-color .3s;
}

.elementstory:hover {
  background-color: #e2dfdc;
}

.text-10 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  text-decoration: none;
}

.elementframe {
  border-radius: 20px;
  flex-direction: column;
  padding: 14px 14px 0;
  display: flex;
}

.menutabbed {
  grid-column-gap: 15px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-bottom: 40px;
  text-decoration: none;
  display: flex;
}

.button {
  color: #fff;
  background-color: #8fc8b1;
  padding: 1px 5px 0;
  display: inline-block;
}

.subsectiontext {
  flex: 1;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 20px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}

.accordioncategorycontainer {
  display: block;
}

.tabselezione {
  border: 0 solid #8fc8b1;
  border-bottom-width: 4px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.testorettangolo {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.containerintro {
  grid-column-gap: 90px;
  grid-row-gap: 90px;
  flex-flow: column;
  width: 100%;
  max-width: 900px;
  padding-top: 90px;
  display: flex;
}

.heading-4 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Graphik, sans-serif;
  font-size: 40px;
  font-weight: 600;
}

.paragraph-2 {
  font-family: Graphik, sans-serif;
}

.paragraph-3 {
  color: #000;
  font-family: Graphik, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
}

.trailer {
  grid-column-gap: 10px;
  background-color: #888;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 56%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.overlay {
  z-index: 50;
  background-color: #0000000d;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  display: none;
  position: absolute;
  inset: 0% 0% auto;
}

.code-embed-2 {
  z-index: 10;
  border: 5px solid #000;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  position: absolute;
  inset: 0%;
  overflow: hidden;
}

.div-block-35 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  flex-flow: column;
  display: flex;
}

.link-11 {
  color: #000;
}

.backgroundvideocontainer {
  padding-top: 56%;
  position: relative;
}

.backgroundvideoslider {
  border: 5px solid #000;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}

.background-video-2 {
  z-index: 70;
  border: 5px solid #000;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0% 0% auto;
}

.videonascosto {
  display: none;
}

@media screen and (max-width: 991px) {
  .navbar {
    padding-left: 20px;
    padding-right: 20px;
  }

  .videocontainer {
    margin-bottom: 40px;
  }

  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .trailer {
    border-radius: 0;
    max-width: none;
  }

  .overlay {
    background-color: #0000000d;
    border-radius: 0;
  }

  .code-embed-2 {
    border-radius: 0;
  }
}

@media screen and (max-width: 767px) {
  .div-block {
    border-bottom-width: 4px;
  }

  .paragraph {
    display: block;
  }

  .fotoduo, .image {
    width: 100%;
  }

  .footer, .link-3 {
    display: none;
  }

  .grid {
    border-bottom-width: 4px;
    border-left-width: 4px;
    border-right-width: 4px;
  }

  .div-block-16 {
    border-top-width: 2px;
  }

  .videodescription, .grid-3 {
    border-bottom-width: 4px;
    border-left-width: 4px;
    border-right-width: 4px;
  }

  .morevideos {
    display: flex;
  }

  .idnav, .gridpost {
    display: block;
  }

  .grid-4 {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
  }

  .gridpostfinto {
    display: none;
  }

  .footermobile {
    display: flex;
  }

  .div-block-29, .div-block-30 {
    max-width: 100%;
  }

  .videocontainer4 {
    display: block;
  }

  .footer4 {
    margin-top: 0;
    display: flex;
  }

  .about {
    flex-direction: column;
    max-width: 100%;
    height: 100vh;
    padding-top: 102px;
    display: flex;
  }

  .aboutheading {
    padding-top: 20px;
  }

  .link-6 {
    text-decoration: none;
  }

  .aboutcontainer {
    padding-left: 20px;
    padding-right: 20px;
  }

  .bold-text {
    color: #000;
    font-family: Sofiapro, sans-serif;
    font-size: 50px;
    line-height: 60px;
    text-decoration: none;
  }

  .fotoabout {
    width: 100%;
    margin-top: 0;
  }

  .div-block-31 {
    flex-direction: column;
    flex: 1;
    padding-top: 100px;
    display: flex;
  }

  .textmobile {
    display: block;
  }

  .link-9, .link-10 {
    color: #000;
  }

  .paragraphinizio, .videonascosti {
    display: none;
  }

  .footerwork {
    margin-top: 50px;
    display: flex;
  }

  .titolominoretesto {
    font-size: 24px;
    line-height: 32px;
  }

  .tabbutton, .tabbutton.w--current {
    font-size: 24px;
    line-height: 26px;
  }

  .lineblack {
    height: 4px;
  }

  .containerintro {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }

  .paragraph-3 {
    font-size: 24px;
    line-height: 30px;
  }

  .background-video-2 {
    border-width: 4px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .div-block {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    display: flex;
  }

  .textmenu {
    color: #000;
    font-family: Sofiapro, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
  }

  .navbar {
    z-index: 80;
    width: 100%;
    display: block;
    position: fixed;
    inset: 0% auto auto 0%;
    overflow: hidden;
  }

  .heading {
    color: #000;
    margin-top: 0;
    padding-top: 125px;
    font-family: Sofiapro, sans-serif;
    font-size: 36px;
  }

  .paragraph {
    color: #000;
    font-family: Sofiapro, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
  }

  .fotoduo {
    width: 100%;
    margin-top: 20px;
    padding-top: 100%;
    position: relative;
  }

  .image {
    z-index: 50;
    border: 5px solid #000;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0% auto auto 0%;
  }

  .div-block-3 {
    width: 100%;
    padding-top: 0%;
    position: relative;
  }

  .div-block-4 {
    width: 100%;
    padding-top: 100%;
    position: absolute;
  }

  .video {
    width: 100%;
    padding-top: 56%;
    position: relative;
  }

  .heading-2 {
    color: #000;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 10px 10px 20px;
    font-family: Sofiapro, sans-serif;
    font-size: 22px;
    line-height: 30px;
  }

  .div-block-5 {
    border-bottom: 5px solid #000;
    border-left: 5px solid #000;
    border-right: 5px solid #000;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    min-width: 80px;
    display: flex;
  }

  .div-block-6 {
    border-left: 5px solid #000;
    width: 100px;
    height: 50px;
  }

  .text-block-2 {
    height: 100%;
    font-family: Sofiapro, sans-serif;
    font-size: 22px;
    font-weight: 700;
  }

  .text-block-3 {
    border-top: 5px solid #000;
    font-family: Sofiapro, sans-serif;
    font-size: 22px;
    font-weight: 700;
  }

  .div-block-7 {
    background-color: #7e2727;
    width: 100px;
    height: 100%;
  }

  .div-block-8 {
    flex: 1;
    align-items: stretch;
    height: 100%;
    display: flex;
  }

  .text-block-4 {
    height: 50%;
  }

  .videocontainer {
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .link {
    color: #000;
    font-family: Sofiapro, sans-serif;
    font-size: 22px;
    line-height: 30px;
  }

  .footer {
    border-top: 5px solid #000;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-top: 220px;
    display: none;
  }

  .link-2 {
    color: #000;
    width: 50%;
    font-family: Sofiapro, sans-serif;
    font-weight: 500;
    text-decoration: none;
  }

  .link-3 {
    color: #000;
    text-align: right;
    font-family: Sofiapro, sans-serif;
    font-weight: 500;
    text-decoration: none;
  }

  .schema {
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
  }

  .image-2 {
    width: 240px;
  }

  .text-block-5 {
    color: #000;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Sofiapro, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    display: flex;
  }

  .div-block-11 {
    border-left: 5px solid #000;
    flex-direction: column;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    min-height: 80px;
    display: flex;
  }

  .div-block-12 {
    border-bottom: 5px solid #000;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: 50%;
    display: flex;
  }

  .div-block-13 {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    display: flex;
  }

  .div-block-14 {
    border-bottom: 3px solid #000;
    width: 100%;
    height: 10px;
  }

  .hamb1 {
    width: 40px;
    display: none;
  }

  .grid {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-bottom: 5px solid #000;
    border-left: 5px solid #000;
    border-right: 5px solid #000;
    grid-template-rows: auto;
    grid-template-columns: 1fr minmax(100px, 100px);
    min-height: 100px;
  }

  .grid-2 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-left: 5px solid #000;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }

  .text-block-6 {
    color: #000;
    text-align: center;
    font-family: Sofiapro, sans-serif;
    font-size: 22px;
    font-weight: 700;
  }

  .text-block-7 {
    text-align: center;
  }

  .div-block-16 {
    border-top: 3px solid #000;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .div-block-17 {
    border-bottom: 2px solid #000;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .div-block-18 {
    color: #000;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .videodescription {
    border-bottom: 5px solid #000;
    border-left: 5px solid #000;
    border-right: 5px solid #000;
    padding: 15px 20px 5px;
  }

  .grid-3 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-bottom: 5px solid #000;
    border-left: 5px solid #000;
    border-right: 5px solid #000;
    grid-template-rows: auto;
    height: 50px;
  }

  .link-block {
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: flex;
  }

  .text-block-8 {
    color: #000;
    font-family: Sofiapro, sans-serif;
    font-size: 22px;
    font-weight: 700;
  }

  .text-block-9 {
    font-size: 22px;
  }

  .div-block-20 {
    border-right: 2px solid #000;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .videodown {
    overflow: hidden;
  }

  .div-block-21 {
    border-bottom: 5px solid #000;
    border-left: 5px solid #000;
    border-right: 5px solid #000;
    justify-content: center;
    align-items: center;
    height: 80px;
    text-decoration: none;
    display: flex;
  }

  .div-block-22 {
    border-left: 2px solid #000;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    text-decoration: none;
    display: flex;
  }

  .div-block-22-copy {
    border-right: 3px solid #000;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    text-decoration: none;
    display: flex;
  }

  .navmenu {
    display: none;
    overflow: hidden;
  }

  .container-2 {
    padding-top: 82px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .linkwork {
    border-bottom: 5px solid #000;
    border-left: 5px solid #000;
    border-right: 5px solid #000;
    justify-content: center;
    align-items: center;
    height: 80px;
    text-decoration: none;
    display: flex;
  }

  .div-block-23 {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    padding-top: 192px;
    display: flex;
  }

  .contactheading {
    color: #000;
    margin-top: 0;
    font-family: Sofiapro, sans-serif;
    font-size: 36px;
  }

  .linkcontact, .linkhome {
    border-bottom: 5px solid #000;
    border-left: 5px solid #000;
    border-right: 5px solid #000;
    justify-content: center;
    align-items: center;
    height: 80px;
    text-decoration: none;
    display: flex;
  }

  .morevideos {
    display: flex;
  }

  .image-3 {
    width: 100%;
    margin-top: 6px;
  }

  .div-block-25 {
    align-items: center;
    width: 50px;
    margin-left: 10px;
    display: flex;
  }

  .text-block-10 {
    color: #000;
    padding-left: 10px;
    font-family: Sofiapro, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
  }

  .text-span, .text-span-2, .link-block-2, .link-block-3 {
    text-decoration: none;
  }

  .idnav {
    width: 100%;
    height: 1px;
    display: block;
  }

  .contacthead {
    color: #000;
    margin-top: 125px;
    font-family: Sofiapro, sans-serif;
    font-size: 36px;
  }

  .div-block-26 {
    flex: 0 auto;
    width: 30px;
    height: 18px;
  }

  .image-4 {
    width: 100%;
  }

  .hamb2 {
    width: 40px;
    display: none;
  }

  .gridvideos {
    height: auto;
    overflow: visible;
  }

  .gridpre {
    height: auto;
    overflow: hidden;
  }

  .gridpost {
    display: block;
  }

  .grid-4 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
  }

  .image-5 {
    display: block;
  }

  .gridpostfinto {
    display: none;
  }

  .paragraphend {
    color: #000;
    font-family: Sofiapro, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
  }

  .div-block-27 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .wrapper {
    overflow: hidden;
  }

  .schema2 {
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 300px;
    display: flex;
  }

  .footermobile {
    border-top: 5px solid #000;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-top: 220px;
    display: flex;
  }

  .linkitaeng {
    display: none;
  }

  .videocontainer4 {
    margin-top: 20px;
    margin-bottom: 25px;
    display: none;
  }

  .galleria {
    margin-top: 20px;
  }

  .textmenurullino {
    color: #000;
    font-family: Sofiapro, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
  }

  .footer4 {
    border-top: 5px solid #000;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-top: 0;
    display: flex;
  }

  .about {
    flex-direction: column;
    width: 100%;
    padding-top: 102px;
    display: flex;
  }

  .aboutheading {
    color: #000;
    margin-top: 0;
    padding-top: 20px;
    font-family: Sofiapro, sans-serif;
    font-size: 36px;
  }

  .link-6 {
    color: #000;
    font-family: Sofiapro, sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    text-decoration: none;
  }

  .aboutcontainer {
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .fotoabout {
    width: 100%;
    padding-top: 100%;
    position: relative;
  }

  .link-7, .link-8 {
    color: #000;
  }

  .div-block-31 {
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    padding-top: 60px;
    display: flex;
  }

  .aboutheading2 {
    color: #000;
    margin-top: 0;
    padding-top: 125px;
    font-family: Sofiapro, sans-serif;
    font-size: 36px;
  }

  .edoardobellinoabout {
    display: none;
  }

  .textmobile, .paragraphinizio {
    color: #000;
    font-family: Sofiapro, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
  }

  .slide-6 {
    background-image: url('../images/2-2.jpg');
  }

  .logoita {
    text-decoration: none;
  }

  .heading-3 {
    margin-top: 15px;
  }

  .image-2no {
    width: 240px;
    display: none;
  }

  .image-2-copy {
    width: 240px;
  }

  .schema-copy {
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
  }

  .footerwork {
    border-top: 5px solid #000;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-top: 50px;
    display: flex;
  }

  .schemano {
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    display: none;
  }

  .tabs {
    flex-direction: column;
  }

  .tabs-menu {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    flex-direction: row;
    width: 100%;
    overflow: auto;
  }

  .subsectioncontainer {
    padding-left: 0;
  }

  .elementauthor {
    font-size: 14px;
    line-height: 17px;
  }

  .elementtitle {
    font-size: 24px;
    line-height: 29px;
  }

  .code-embed-2 {
    border-width: 4px;
  }
}

#w-node-_7bb91ee7-2cb5-8eab-cf0c-cc66b4d2e28f-65082d4d, #w-node-_9bd36985-dcaf-5223-cb4e-ccc082fafce3-b9d1cb59 {
  grid-area: span 2 / span 1 / span 2 / span 1;
}


@font-face {
  font-family: 'Sofiapro';
  src: url('../fonts/SofiaPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sofiapro';
  src: url('../fonts/SofiaPro-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}